$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);
$very-dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%,75%);

$brand-fs: 24px;

@mixin kumbhFont($weight, $size, $color){
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    margin: auto;
    width: 70vw;
    
    .nav-container{
        align-items: center;
        border: 1px solid $grayish-blue; 
        border-style: solid none;
        border-top-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        margin:0;
        padding:0;
        
        .left-container{
            
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 5vw;   
            justify-content: center;
            margin:5px;
            
            .menu{
                display: none;
                height: 16px;
                position: relative;
                top: 3px;
                transform: scaleX(1.2);
                width: 21x;
            }

            .brand-name{
                @include kumbhFont(700,30px,$black);
            }

            .tab-container{
                display: flex;
                flex-direction: row;
                gap: 24px;
   
                .item{
                    @include kumbhFont(300,16px,$dark-grayish-blue);
               
                    border-bottom: 5px solid transparent;
                    cursor: pointer;
                    position: relative;
                    padding: 42px 0px;
                    top: 5px;
                }
                
                .item:hover{
                    border-bottom: 5px solid $orange;
                }
            }

            @media (max-width: 500px) {
                .tab-container{
                    display: none;
                    gap: 40px;
                }
            }
        }

        .right-container{
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 30px;
            .avatar-img{
                cursor: pointer;
                height: 50px;
                width: 50px;
            }

            .avatar-img:hover{
                border-radius: 50%;
                box-shadow: 0 0 0 2px $orange;
            }

            .cart{
                align-items: center;
                cursor: pointer;
                display: flex;
                justify-content: center;
                position: relative;
             
                span{
                    align-items: center;
                    background-color: $orange;
                    border-radius: 15px;
                    display: flex;
                    height: 12px;
                    justify-content: center;
               
                    pointer-events: none;   
                    position:absolute;
                    right: -5px;
                    top: -5px;
                    width: 16px;
                    
                    p{
                        @include kumbhFont(700,8px,$white)
                    }
                }
                .cart-img{
                    width: 20px;
                    height: 20px;
                }
            }

        }

        .cart-container{
            border-radius: 6px;
            background-color: $white;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            display: none;
            flex-direction: column;
            height: auto;
            position: absolute;
            right: 150px;
            top: 100px;
            width: 20vw;
          
            .cart-and-price{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                h4{
                    @include kumbhFont(700,14px,$very-dark-blue);
                    padding: 20px;
                    text-align: left;
                }
                border-bottom: 1px solid $grayish-blue;
            }

            .cart-item-container{

                align-self: center;
                width: 100%;
                .item-and-checkout-container{
                    
                    padding:0px 20px 20px;
                    text-align: left;

                    .empty-cart{
                        align-items: center;
                        display: flex;
                        height: 150px;
                        justify-content: center;
                        width:  auto;

                        p{
                            @include kumbhFont(700, 14px, $dark-grayish-blue);
                        }
                    }
                    .item-container{
                        height: 150px;
                        overflow-y: auto;
                        .cart-item{
                            align-items: center;
                            display: flex;
                            flex-direction: row;
                            margin: 8px 0px;
                            justify-content: space-between;
                           
                            .img-and-description{
                                display: flex;
                                flex-direction: row;
                                gap: 10px;
                                .cart-item-image{
                                    border-radius: 8px;
                                    height: 2.9rem;
                                    user-select: none;
                                    width: 2.9rem;
                                }
                                .cart-item-description{
                                 display: flex;
                                 flex-direction: column;
                                 justify-content: center;
                                    p{
                                        @include kumbhFont(300,13px,$dark-grayish-blue);
                                        line-height: 1.8;
                                        span{
                                            color:$black;
                                            font-weight: bold;
                                        }
                                    }
                                }
                            }

                            .trash{
                                cursor: pointer;
                                width: 15px;
                                height: 18px;
                            }

                            .trash:active{
                                filter: invert(54%) sepia(79%) saturate(1749%) hue-rotate(347deg) brightness(100%) contrast(101%);
                            }
                        }
                    }

                    .item-container::-webkit-scrollbar{
                        display: none;
                    }



                }
                .checkout{
                    @include kumbhFont(700,12px,$white);
                    
                    border:none;
                    background-color: $orange;
                    border-radius: 6px;
                    cursor: pointer;
                    height: 50px;
                    width: 100%;
                }
            }
        }

        .mobile-menu{
            display: none;
        }
    }
}

@media (max-width: 500px) {
    .navbar{
        width: 100%;
        margin-bottom: 20px;
        .nav-container{
            border:none;
            padding:10px 10px 0px;

            .left-container{

                .menu{
                    display: inline;
                    
                }

                .brand-name{
                    @include kumbhFont(700,30px,$black);
                }

            }

            .right-container{
                gap: 25px;
                .cart{
                    .cart-img{
                        height: 25px;
                        width: 25px;
                    }
                }
                .avatar-img{
                    height: 34px;
                    width: 34px;
                }
                .avatar-img:hover{
                    box-shadow: none;
                }

                .avatar-img:active{
                    border-radius: 50%;
                    box-shadow: 0 0 0 2px $orange;
                }
                
            }

            .cart-container{
                border-radius: 15px;
                display: none;
                height:auto; 
                justify-content: center;
                right: 5%;
                top: 80px;
                width: 90%;
                z-index: 420;

                .cart-and-price{
                    h4{
                        font-size: 18px;
                    }
                    margin-bottom: 15px;
                }

                .cart-item-container{
                    width: 95%;

                    .item-and-checkout-container{

                        .item-container{
                            .cart-item{
                                .img-and-description{
                                    gap:8px;
                                    .cart-item-description{
                                        p{
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .checkout{
                        border-radius: 12px;
                        font-size: 1rem;
                        height: 55px;
                    }
                }

            }

            .mobile-menu{
                background: white;
                display: flex;
                flex-direction: column;
                height: 100%;
                left: -250px;
                position: fixed;
                padding: 30px 120px 0 30px;
                row-gap: 20px;
                top: 0; 
                transition: all .5s;
                z-index: 9999;
                
                .mclose{
                    width: 15px;
                    height: auto;
                }
    
                .mobile-tab-container{
    
                    text-align: left;
                    .mitem{
                        @include kumbhFont(bold,18px,$black);
                        padding: 5px 0;
                    }
                }
            }
        }
    }

    
}
